<section class="bg">
  <div class="animation">
    <div class="cloud-container">
      <div class="cloud">
        <img src="assets/cloudsvertical.png" alt="cloud" class="img_cloud">
      </div>
    </div>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
  </div>

  <div class="alingment">
    <div class="container">
      <div class="card">
        <img src="assets/API_logo.png" width="30%" class="logo">
        <h1>SAFE ACCOUNTS</h1>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="input-group">
            <label>Email</label>
            <input type="email"
                   placeholder="Digite seu email"
                   formControlName="email" />
          </div>

          <div class="input-group">
            <label>Senha</label>
            <input [type]="mostrarSenha ? 'text' : 'password'"
                   placeholder="Digite sua Senha"
                   autocomplete="current-password"
                   formControlName="password" />

            <div class="show-icon" *ngIf="mostrarSenha" (click)="toggleSenha()">
              <span class="material-symbols-outlined">visibility</span>
            </div>
            <div class="hide-icon" *ngIf="!mostrarSenha" (click)="toggleSenha()">
              <span class="material-symbols-outlined">visibility_off</span>
            </div>
          </div>

          <button type="submit" id="btn" class="login" [disabled]="isLoading">
            <span *ngIf="!isLoading">Entrar</span>
            <span *ngIf="isLoading" class="spinner"></span>
          </button>
        </form>

        <p class="p2">Ainda não tem uma conta? </p>
        <button class="go-register" routerLink="/register"> Registrar-se</button>
        <p class="p2"></p>
        <!-- <button class="forgot_password" routerLink="/forgot-password">Esqueci minha senha</button> -->
        </div>  
    </div>
  </div>
</section>

<app-alert
  *ngIf="showAlert"
  [type]="alertType"
  [message]="alertMessage"
  [title]="alertTitle"
  (closed)="onAlertClose()">
</app-alert>